# Jupyter Notebooks (ignorados por comodidad del flujo local)
*.ipynb
.ipynb_checkpoints/

# Python Cache y Ejecución
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno virtual locales (opcional si creas uno)
venv/
.venv/
env/

# Resultados de docking locales temporales
# docking/vina_output/*
# !docking/vina_output/.gitkeep

# Solo ignorar logs temporales, no los resultados finales
docking/vina_output/*.log
